
.main-card{
    width: 460px;
    height: 700px;
    border-radius: 25px;
    background: #fff;
    margin: 4rem;
    margin-left: 42rem;
    text-align: center;
    padding: 5rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.qrcode-input{
    width: 256px;
    position: relative;
    margin: 5rem;
}

.qrcode-box{
    margin-top: 5rem;
}




